@import 'siteicons.css';

$mainColor: rgb(19, 0, 104);
$mainFont: 'Roboto', sans-serif;
$headerFont: 'Roboto Condensed', sans-serif;

body {
    margin: 0;
    font-family: $mainFont;
    counter-reset: section;
}

::selection {
    background-color: $mainColor;
    color: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.section__title {
    font-weight: 300;
    font-size: 2em;
    padding: 20px 0;
    margin: 20px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    &::before {
        counter-increment: section;
        content: "#" counter(section);
        position: absolute;
        top: 0;
        margin-left: -60px;
        font-size: 2em;
        color: #fff;
        z-index: -1;
        border-radius: 50%;
        background-color: rgba(248, 102, 17, .5);
        box-shadow: 0 0 0 10px rgba(248, 102, 17, .2);
    }
}

.text_center {
    text-align: center;
}

.header_text {
    font-family: $headerFont;
    font-size: 1.5em;
    padding: 20px 0;
}

.white_text {
    font-weight: 200;
}

.top {
    background-color: $mainColor;
    color: rgba(255, 255, 255, 0.7);

    a {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            display: inline;
            a {
                &.reg {
                    border-bottom: 1px dotted rgba(255, 255, 255, 0.7);
                    margin-right: 15px;
                }
                &.auth {
                    padding: 5px 20px;
                    border: 1px solid #fff;
                    border-radius: 20px;
                }
            }
        }
    }
}

.header {
    a {
        color: inherit;
        text-decoration: none;

        &.logo {
            display: flex;
            flex-direction: row;

            img {
                width: 50px;
                margin-right: 20px;
            }
            .logo_text {
                align-self: center;
            }
            span {
                display: block;
                font-weight: 400;
                font-family: $headerFont;

                &:nth-child(1) {
                    font-size: 1em;
                }
                &:nth-child(2) {
                    font-size: 1.5em;
                    color: #17394F;
                }
            }
        }
    }
    .contact_info {
        .contact_type {
            .contact_info__icon {
                font-size: 3em;
                margin: 0 10px 0 20px;
                align-self: center;
                color: $mainColor;
            }
            .contact_info__text {
                align-self: center;
                .contact_info__label {
                    text-transform: uppercase;
                    font-weight: 500;
                    color: $mainColor;
                }
                .contact_info__data {
                    a {
                        text-decoration: none;
                        color: #000;
                        border-bottom: 1px dotted rgba(0, 0, 0, 0.7);
                    }
                }
            }
        }
    }
}

.main-nav {
    padding: 15px 0;
    // background-color: rgb(248, 236, 234);
    
    &__menu {
        padding: 0;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        list-style: none;
    }
    
    .menu {
        &__item {
            position: relative;

            a {
                text-decoration: none;
                color: #000;
                padding: 15px 20px;
                transition: all .2s ease;
            }

            
            
            &:hover {
                a {
                    color: #fff;
                    background-color: $mainColor;
                }

                ul {
                    display: flex;
                }
            }
        }

        &__submenu {
            display: none;
            list-style: none;
            padding: 0;
            flex-direction: column;
            position: absolute;
            top: 34px;
            width: 200px;
            z-index: 99;

            &-item {
                a {
                    display: block;
                    text-align: left;
                    padding: 10px 10px 10px 30px;

                    &:hover {
                        background-color: rgb(59, 43, 128);
                    }
                }
            }
        }
    }
}

.slider {
    background-color: rgb(253, 246, 245);
    
    .slider__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .slider__content {
            align-self: center;
            
            .slider__description {
                line-height: 25px;
            }
            
            .slider__button {
                
                a {
                    color: $mainColor;
                    text-decoration: none;
                    padding: 10px 50px;
                    border: 2px solid $mainColor;
                    border-radius: 30px;
                    transition: all ease .5s;
            
                    &:hover {
                        background-color: $mainColor;
                        color: #fff;
                        box-shadow: 0 0 0 10px rgba(19, 0, 104, 0.4);
                    }
                }
            }
        }
        .slider__image {
            flex-shrink: 500px;
            
            img {
                width: 100%;
            }
        }
    }
}

.sections {
    &__container {
        
    }

    &__section {
        text-align: center;

        span {
            font-size: 4em;
        }

        .desc {
            margin-top: 20px;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1.3em;
        }

        ul {
            padding: 0 20px;
            list-style: none;
        }
    }
}

.four {
    ul {
        li {
            padding: 10px 0 10px 20px;
            &::marker {
                font-family: 'siteicons';
                font-size: 1.2em;
                display: block;
                padding: 20px;
                content: '\f058';
                color: rgb(77, 156, 77);
            }
        }
    }
    .research {
        align-self: center;
        img {
            width: 100%;
        }
    }
}

.send_article {
    color: #fff;
    font-size: 1.2em;
    background: $mainColor;
    padding: 10px 0;
    
    .container {
        background: url(../img/bg2.png) no-repeat right top / contain;
    }
    
    [class*="col-"] {
        padding: 100px 0;
    }

    .white_button {
        a {
            color: inherit;
            padding: 10px 30px;
            border: 2px solid #fff;
            border-radius: 30px;
            transition: all ease .5s;
    
            &:hover {
                background-color: #fff;
                color: $mainColor;
                box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
            }
        }
    }
}

.members {
    background-color: rgb(253, 246, 245);
    .member {
        margin: 0 10px;
        background-color: #fff;
        border-radius: 10px;
            overflow: hidden;
        &__img {
            overflow: hidden;
            img {
                width: 100%;
                transition: all ease-in-out .7s;

                &:hover {
                    transform: scale(1.05);
                    border-radius: 10px 10px 0 0;
                }
            }
        }
        
        &__info {

            &:hover .member__position {
                top: 35px;
            }

            &:hover .member__name {
                top: -40px;
                
                &::after {
                    width: 100%;
                }
            }

            .member__position {
                text-align: center;
                padding: 20px 10px;
                color: #999;
                position: relative;
                top: 10px;
                transition: all .5s ease;
            }
            .member__name {
                text-align: center;
                font-family: $headerFont;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1.2em;
                position: relative;
                background-color: #fff;
                top: -27px;
                transition: all .5s ease;

                &::after {
                    content: '';
                    display: block;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    width: 0;
                    margin: 5px auto;
                    transition: all .5s ease;
                }
            }
        }
    }
}

.links {
    .link {
        margin: 0 20px;
        img {
            width: 100%;
            filter: grayscale(1);
            opacity: .5;
            transition: all ease .5s;
            &:hover {
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}

.footer {
    color: #fff;
    background: $mainColor url(../img/bg.png) no-repeat center 40px / 500px;
    .footer__content {
        height: 400px;
    }
    .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding: 30px 0;
    }
}